<div class="row">
    <h4 class="text-primary pl-4 pt-2 col-12">Grand Child Component</h4>
    <p>There is amessage - @MessageFromGrandChild</p>
</div>

@code {
    [Parameter]
    public string MessageFromGrandChild { get; set; }
}
